#
# Fan driver configuration
#
menuconfig NUBIA_FAN
	bool "Fan"
	default n
	help
	  Say Y here if you have a Fan connected
	  to your system.

if NUBIA_FAN

config FAN_CORE
	tristate "Fan core"
	default n

config FAN_REMOVE_FOR_GKI
      bool "Fan gki"
      default n

#config FAN_UPDATA
#	bool "Fan updata"
#	default n

endif
